/*Color Choices*/
.color-choice-red {
    background-color: #b71c1c;
}

.color-choice-redorange {
    background-color: #b5431d;
}

.color-choice-brown {
    background-color: #b55e1d;
}

.color-choice-yelloworange {
    background-color: #b57c1d;
}

.color-choice-yellow {
    background-color: #b5b01d;
}

.color-choice-yellowgreen {
    background-color: #76b51d;
}

.color-choice-green {
    background-color: #1db51d;
}

.color-choice-cyan {
    background-color: #1dadb5;
}

.color-choice-skyblue {
    background-color: #1d92b5;
}

.color-choice-blue {
    background-color: #1d76b5;
}

.color-choice-indigo {
    background-color: #1d50b5;
}

.color-choice-purple {
    background-color: #5a1db5;
}

.color-choice-magenta {
    background-color: #a51db5;
}

.color-choice-hotpink {
    background-color: #b51d8c;
}

.color-choice-deeppink {
    background-color: #b51d6e;
}

.color-choice-scarlet {
    background-color: #b51d35;
}

/*Color Choices - Full Borders*/
.border-color-choice-red {
    border: 1px solid #b71c1c;
}

.border-color-choice-redorange {
    border: 1px solid #b5431d;
}

.border-color-choice-brown {
    border: 1px solid #b55e1d;
}

.border-color-choice-yelloworange {
    border: 1px solid #b57c1d;
}

.border-color-choice-yellow {
    border: 1px solid #b5b01d;
}

.border-color-choice-yellowgreen {
    border: 1px solid #76b51d;
}

.border-color-choice-green {
    border: 1px solid #1db51d;
}

.border-color-choice-cyan {
    border: 1px solid #1dadb5;
}

.border-color-choice-skyblue {
    border: 1px solid #1d92b5;
}

.border-color-choice-blue {
    border: 1px solid #1d76b5;
}

.border-color-choice-indigo {
    border: 1px solid #1d50b5;
}

.border-color-choice-purple {
    border: 1px solid #5a1db5;
}

.border-color-choice-magenta {
    border: 1px solid #a51db5;
}

.border-color-choice-hotpink {
    border: 1px solid #b51d8c;
}

.border-color-choice-deeppink {
    border: 1px solid #b51d6e;
}

.border-color-choice-scarlet {
    border: 1px solid #b51d35;
}

/*Color Choices - Bottom Borders*/
.border-bottom-color-choice-red {
    border-bottom: 1px solid #b71c1c;
}

.border-bottom-color-choice-redorange {
    border-bottom: 1px solid #b5431d;
}

.border-bottom-color-choice-brown {
    border-bottom: 1px solid #b55e1d;
}

.border-bottom-color-choice-yelloworange {
    border-bottom: 1px solid #b57c1d;
}

.border-bottom-color-choice-yellow {
    border-bottom: 1px solid #b5b01d;
}

.border-bottom-color-choice-yellowgreen {
    border-bottom: 1px solid #76b51d;
}

.border-bottom-color-choice-green {
    border-bottom: 1px solid #1db51d;
}

.border-bottom-color-choice-cyan {
    border-bottom: 1px solid #1dadb5;
}

.border-bottom-color-choice-skyblue {
    border-bottom: 1px solid #1d92b5;
}

.border-bottom-color-choice-blue {
    border-bottom: 1px solid #1d76b5;
}

.border-bottom-color-choice-indigo {
    border-bottom: 1px solid #1d50b5;
}

.border-bottom-color-choice-purple {
    border-bottom: 1px solid #5a1db5;
}

.border-bottom-color-choice-magenta {
    border-bottom: 1px solid #a51db5;
}

.border-bottom-color-choice-hotpink {
    border-bottom: 1px solid #b51d8c;
}

.border-bottom-color-choice-deeppink {
    border-bottom: 1px solid #b51d6e;
}

.border-bottom-color-choice-scarlet {
    border: 1px solid #b51d35;
}